p.op{
 width: 200px; height: 200px; overflow: auto; background-color: aqua; text-align: justify;
}
 div{
     width: 400px; height: 200px; overflow: visible;
 }
 div img{
     width: 100%; height: auto;
 }