a:link{
    color: aqua;
    text-decoration: none;
}
a:visited{
    color: red; 
}
a:hover{
    color: chartreuse; background-color: blue; border-radius: 20px;
}
a{
    color: brown;
}
li:nth-child(2n+1){
    color: aqua;
}
p::first-line{
    color: chartreuse;
}
p::first-letter{
    color: brown; font-size: 100px;
}
h1{
    text-align: center;
}
h1::after{
    width: 125px;
    height: 5px;
    display: block;
    content: "";
    background: rgb(221, 189, 9);
    margin: 0 auto;
    border-radius: 10px;

}
h1::before{
    width: 125px;
    height: 5px;
    display: block;
    content: "";
    background: blue;
    margin: 0 auto;
    border-radius: 10px;
}
